{% extends 'base.html' %}

{% block title %}Listado de Préstamos{% endblock %}

{% block content %}
<h2>Listado de Préstamos</h2>
<a href="{% url 'crear_prestamo' %}" class="standalone-link">Nuevo Préstamo</a>

<table>
    <tr>
        <th>ID</th>
        <th>Libro</th>
        <th>Usuario</th>
        <th>Fecha Préstamo</th>
        <th>Fecha Devolución</th>
        <th>Acciones</th>
    </tr>
    {% for prestamo in prestamos %}
    <tr>
        <td>{{ prestamo.id }}</td>
        <td>{{ prestamo.libro }}</td>
        <td>{{ prestamo.usuario }}</td>
        <td>{{ prestamo.fecha_prestamo }}</td>
        <td>{{ prestamo.fecha_devolucion }}</td>
        <td>
            {% if not prestamo.devuelto %}
                <a href="{% url 'marcar_como_devuelto' prestamo.id %}">Marcar como Devuelto</a> |
            {% else %}
                <span style="color: green;">Devuelto</span> |
            {% endif %}
            <a href="{% url 'editar_prestamo' prestamo.id %}">Editar</a> |
            <a href="{% url 'eliminar_prestamo' prestamo.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}


