{% extends 'base.html' %}

{% block title %}Listado de Usuarios{% endblock %}

{% block content %}
<h2>Listado de Usuarios</h2>
<a href="{% url 'crear_usuario' %}" class="standalone-link">Nuevo Usuario</a>

<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Acciones</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.email }}</td>
        <td>
            <a href="{% url 'editar_usuario' usuario.id %}">Editar</a> |
            <a href="{% url 'eliminar_usuario' usuario.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}



